/* HANDLE para arrastrar */
.handle {
    font-size: 20px;
    margin-right: 10px;
    cursor: grab;
    color: #888;
    user-select: none;
}

/* Drag visual */
.drag-ghost {
    opacity: 0.4;
}

.drag-chosen {
    background: #e0f2ff !important;
    transform: scale(1.02);
}

.drag-moving {
    opacity: 0.8;
}
